---
name: ci

on:
  push:
    branches: [master]
    paths:
    - 'lib/**'
    - 'spec/**/*_spec.rb'
  pull_request:
    branches: [master]
    paths:
    - 'lib/**'
    - 'spec/**/*_spec.rb'

jobs:
  test:
    strategy:
      matrix:
        ruby_version:
        - '2.6'
        - '3.4'
    runs-on: ubuntu-latest
    container: ruby:${{ matrix.ruby_version }}-slim
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: install some pre-requisite packages
      run: apt-get update && apt-get install -y gcc g++ libgpgme-dev make pkg-config
    - name: bundler install
      run: bundle config build.gpgme --use-system-libraries && bundle install --retry=3
    - name: run tests
      run: bundle exec rake grpc unit system
